NEXTAUTH_URL=https://chachagreenhouse.vercel.app/
NEXTAUTH_SECRET=replace-with-a-long-random-secret

NAVER_CLIENT_ID=replace-with-naver-client-id
NAVER_CLIENT_SECRET=replace-with-naver-client-secret

NAVER_MAP_CLIENT_ID=replace-with-naver-map-client-id
NAVER_MAP_CLIENT_SECRET=replace-with-naver-map-client-secret
